.the-game-of-life-board {
    &__header {
        display: flex;
        flex-direction: column;
        gap: 5px;
        margin-bottom: 10px;
    }

    &__board {
        width: fit-content;
        display: grid;
        place-items: center;
        background-color: black;
    
        &__row {
            display: flex;
            flex-direction: row;
        }
    
        &__cell {
            width: 12px;
            height: 12px;
            text-align: center;
            box-sizing: border-box;
            border-color: gray;
            border-width: 0.5px;
            border-style: solid;
            opacity: 0.8;
    
            &--selected {
                background-color: white;
                border-radius: 6px;
                padding: 1px;
            }
    
        }
    }
}